<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Widget Factory!</title>
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
    
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
    
    <script type="text/javascript" src="js/controllers/dashboard-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/user-list-summary-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/user-list-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/user-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/widget-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/base-ctrl.js"></script>

  </head>
  <body ng-app="angular-widget-app">
    <div ui-view></div>     
  </body>
</html>